.post-content p {text-indent:0em;}
.post-content blockquote p {text-indent:0em !important;}
.post-content li p {text-indent:0em !important;}
.site-nav .page-link{color:white !important;}
.site-header{background-color:black !important;}
.site-nav {
    background-color:black !important;
    z-index:1;
}
.site-title {
    color:white !important;
}
